
#topbar-inner {
	background: #000;
}

#headerwrap h1 {
	font-weight: bold;
}

#headerwrap h3 {
	font-weight: bold;
	font-size: 28px;
} 

#intro {
	background: #000;
}

#intro a {
	color: white;
	font-weight: bold;
}

#intro a:hover {
	color: #f85c37;
}

#education a {
	color: #2f2f2f;
	font-weight: normal;
}

#education a:hover {
	color: #f85c37;
}

#education ul {
	color: #2f2f2f;
}

.nav > li > a:focus {
  background-color: #000;
}

.btn {
    text-transform: uppercase;
    margin-top: 10px;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #1abc9c;
    outline: 0;
    color: #1abc9c;
    background-color: black;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:400px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }

    ul.banner-social-buttons {
        text-align: center;
    }
}